.blog {
  margin-bottom: 15px;
  &__page-number-switch {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__select {
    @media (max-width: 768px) {
      width: 130px;
      margin-left: 10px;
    }
    @media (max-width: 468px) {
      width: 100px;
      margin-left: 10px;
    }
  }
}
.blog__header {
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  &-search {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    margin-right: 100px;
    @media (max-width: 468px) {
      width: 150px;
      margin-right: 50px;
    }
  }
  i {
    top: 75px;
    right: 108px;
    position: absolute;
    cursor: pointer;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-title {
    max-width: 50%;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 468px) {
      font-size: 0.8em;
    }
  }
}
.navbar-link {
  align-items: center;
  display: flex;
  justify-content: center;
}
